footer
	.container 
		.logo 
			img(src="images/white_logo.svg" alt="Acme")
		.icons
			i.fab.fa-facebook 
			i.fab.fa-github 
			i.fab.fa-codepen
	span Designed By #[a(href="https://webflow.com/") Webflow] , Coded By #[a(href="#") MuhammadFK]